@charset "UTF-8";

/* Fontes Especiais */
@font-face {
	font-family: "gotham";
	src: url(../fonts/gotham.woff) format("woff"), url("../fonts/gotham.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "marvel";
	src: url("../fonts/marvel.ttf") format("truetype");
	font-style: normal;
	font-weight: bold;
}
@font-face {
	font-family: "american";
	src: url("../fonts/american.ttf") format("truetype");
	font-style: normal;
	font-weight: bold;
}

/* Configurações Gerais */
* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

/* Cores */
#branco {
	color: white;
}

/* Corpo da Pagina */
body {
	font-size: 16px;
	background: url('../imgs/backgroud.jpeg');
	font-family: gotham;
}


/* Layout de Container */
.container {
	max-width: 900px;
	padding: 10px 16px;
	margin: 0 auto;
	background: white;
}
.container p, h1, h2 {
	padding: 12px 0;
}
#image{
	width: 100%;
}

/* Layout da Navbar */
#nav-bar {
	position: -webkit-sticky;
	/* nescessário para o safari */
	position: sticky;
	top: 0;
	z-index: 999;
	background: #1d1d1d;
	padding: 6px;
	box-shadow: 0 4px 5px black;
}
#nav-links, #position {
	text-decoration: none;
	text-align: center;
	padding: 8px 20px;
	font-size: 20px;
	letter-spacing: 1px;
	font-family: marvel;
	color: white;
}
#nav-links:active, #nav-links:visited {
	color: #fff;
	padding: 8px 20px;
}
#nav-links:hover {
	color: #ff3232;
	background: #fff;
	border-radius: 6px;
}

/* Desing de Logo */
#logo {
	text-align: center;
	color: #a21d35;
	font-size: 56px;
	padding: 4px;
	font-family: marvel;
}
.jumbotron {
	margin: auto;
	max-width: 900px;
	height: 550px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: url('../imgs/fogo.jpeg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	text-align: center;
}
.jumbotron .jumbotron-inner {
	text-shadow: 3px 3px 3px black;
	width: 56%;
}
.jumbotron.jumbotron-inner h2{
	font-size: 30px;
	font-weight: 700;
	margin-bottom: 20px;
}
.jumbotron .jumbotron-inner p{
	font-size: 20px;
	font-weight: 350;
	margin-bottom: 10px;
}

/* flexbox */
.flex {
	max-width: 900px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
}
.flex div {
	flex: 1 1 350px;
	 margin: 10px;
}
.flex img{
	width: 100%;
	border-radius: 10px;
}
.flex p{
	width: 100%;
	
}
.textbox {
}
