@charset "UTF-8";

/* Fontes Especiais */
@font-face {
	font-family: "gotham";
	src: url(../fonts/gotham.woff) format("woff"), url("../fonts/gotham.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "marvel";
	src: url("../fonts/marvel.ttf") format("truetype");
	font-style: normal;
	font-weight: bold;
}
@font-face {
	font-family: "american";
	src: url("../fonts/american.ttf") format("truetype");
	font-style: normal;
	font-weight: bold;
}

/* Configurações Gerais */
* {
	padding: 0px;
	margin: 0px;
}

/* Cores */
#branco {
	color: white;
}

/* Corpo da Pagina */
body {
	font-size: 16px;
	background: #808080;
	font-family: gotham;
}

/* Layout de Container */
.container {
	max-width: 900px;
	padding: 10px 16px;
	margin: 0 auto;
	background: white;
}
.fogo {
	max-width: 932px;
	margin: 0 auto;
}
.fogo img{
	width: 100%;
	margin: 0:
}

/* Layout da Navbar */
#nav-bar {
	position: -webkit-sticky;
	/* nescessário para o safari */
	position: sticky;
	top: 0;
	z-index: 999;
	background: #1d1d1d;
	padding: 4px;
	box-shadow: 0 4px 5px black;
}
#nav-links, #position {
	text-decoration: none;
	text-align: center;
	padding: 8px 20px;
	font-size: 20px;
	letter-spacing: 1px;
	font-family: marvel;
	color: white;
}
#nav-links:active, #nav-links:visited {
	color: #fff;
	padding: 8px 20px;
}
#nav-links:hover {
	color: #ff3232;
	background: #fff;
	border-radius: 6px;
}

/* Desing de Logo */
#logo {
	text-align: center;
	color: #a21d35;
	font-size: 56px;
	padding: 4px;
	font-family: marvel;
}
p {
	padding: 10px 0;
}